:root {
	/* Break Screen */

	--break-title-text: #ea2c12;
	--break-title-outline: #ffffff;

	--break-subtitle-text: #4c4b99;
	--break-subtitle-outline: #aad0dd;

	--break-socials-title: #af0b01;
	--break-socials-title-outline: #fecbc7;

	--break-socials-icons: #aad0dd;

	--break-socials-text: #29273d;
	--break-socials-outline: #aad0dd;

	/* Intermission & Omnibar */

	--feed-large-color: #e68b8b;
	--feed-large-border: #660033;

	--feed-small-color: #e68b8b;
	--feed-small-border: #660033;

	--omnibar-border: #3d0521;
	--omnibar-color: #660033;
	--omnibar-text: #ffffff;
	--omnibar-divider: #ffffff;

	--teams-color: #660033;
	--teams-border: #3d0521;
	--teams-text: #ffffff;
	--teams-inner: #702d47;
	--teams-score-text: #ffffff;
	--teams-score-inner: #660033;

	/* Commentary */ 

	--commentary-text: #af0b01;
	--commentary-outline: #fecbc7;

	--commentary-tag: #29273d;
	--commentary-tag-outline: #aad0dd;

	--commentary-pronouns: #ffffff;
	/*--commentary-pronouns-outline: #000000;*/

	/* Game */
	--game-title-text: #ffffff;
	--game-title-bg: #ea2c12;
	--game-main-text: #ffffff;
	--game-main-bg: #4c4b99;
	--game-sub-text: #ffffff;
	--game-sub-bg: #cc0d03;
	--game-border: #ffffff;

	/* Credits */

	--credits-text: #ffffff;
	--credits-bg: #000000;

	--credits-h1: #ff3015;
	--credits-h1-outline: #fecbc7;

	--credits-h2: #af0b01;
	--credits-h2-outline: #fecbc7;

	--credits-p-large: #4c4b99;
	--credits-p-large-outline: #aad0dd;

	--credits-p: #29273d;
	--credits-p-outline: #aad0dd;
}

@font-face {
	font-family: Splatoon;
	src: url('../../fonts/project_paintball.otf');
}

@font-face {
	font-family: Genty Sans;
	src: url('../../fonts/genty-sans-regular.otf');
}

body {
  font-family: Genty Sans;
  margin: 0;
}

.monospace {
  font-family: monospace;
}

* { box-sizing: border-box; }