:root {
	--primary: #aad0dd;
	--break-title-text: #ea2c12;
	--break-title-outline: #ffffff;

	--break-subtitle-text: #4c4b99;
	--break-subtitle-outline: #aad0dd;

	--break-socials-title: #af0b01;
	--break-socials-title-outline: #fecbc7;

	--break-socials-icons: #aad0dd;

	--break-socials-text: #29273d;
	--break-socials-outline: #aad0dd;

	--contrast: #4c4b99;
	--alt-contrast: #ffffff;

	--secondary: #659ac9;

	--commentary-text: #c40821;
	--commentary-pronouns: #eae6f3;

	--credits-text: #ffffff;
	--credits-bg: #000000;
}

@font-face {
	font-family: Splatoon;
	src: url('../../fonts/project_paintball.otf');
}

@font-face {
	font-family: Genty Sans;
	src: url('../../fonts/genty-sans-regular.otf');
}

body {
  font-family: Genty Sans;
  margin: 0;
}

.monospace {
  font-family: monospace;
}

* { box-sizing: border-box; }